:root {
    --primary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);
    --border-radius: 0.5em;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --skills-bar-length: 0%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
}

body.dark {
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 2rem;
    background-color: var(--bg-card-color);
    transition: var(--transition);
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 25px;
}

.toggle-theme__text {
    font-size: 0.8rem;
}

/*----------css para los colores del nav----------*/   


.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 150px;
}

.colors__item {
    width: 25px;
    height: 25px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.colors__item:hover {
    transform: scale(1.5);
}

.colors__item--blue {
    --primary-color: hsl(214, 84%, 56%);
}

.colors__item--green {
    --primary-color: hsl(150, 84%, 56%);
}

.colors__item--purple {
    --primary-color: hsl(276, 84%, 56%);
}

.colors__item--orange {
    --primary-color: hsl(46, 84%, 56%);
}

.text {
    text-align: center;
    color: var(--primary-color);
    transition: var(--transition);
}

.main {
    display: grid;
    padding: 2em;
    gap: 0.5em;
}

@media screen and (min-width: 720px){
    .main{
        grid-template-columns: min-content 1fr;
    }
}

.card {
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
}

.card--profile {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img-container {
    /* min-width: 320px; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.card__header {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 15px;
}

.card__subtitle {
    margin: 0.5rem 0;
    font-size: 1rem;
    opacity: 0.8;
}

.card__description {
    font-size: 1rem;
    opacity: 0.8;
    text-align: center;
}

.raya {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1em 0;
    background-color: var(--primary-color);
}

/* .experiencia{
    font-size: 0.8rem;
    opacity: 0.8;
} */


/* contacto */
.card__link {
    margin-bottom: 0.8em;
}

.card__text {
    font-size: 0.9rem;
    line-height: 1.6;
}

.icon {
    margin-right: 1em;
}

.column {
        display: grid;
        gap: 0.5em;
}

.card__habilidades {
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

/* card habilidades */
.habilidades {
    font-size: 0.9rem;
    padding: 0 20px;
    line-height: 1.5rem;
}


@media screen and (min-width: 720px){
    .column--right{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        align-items: start;
    }
}

.skills {
    padding: 0.1em 0;
}

.skills__header {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}

.skills__star-level {
    font-size: 0.9rem;
    opacity: 0.8;
}

.skills__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills__tech {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    opacity: 0.8;
}

.skills__bar,
.skills__bar::after {
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.skills__bar::after {
    content: '';
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: width 0.5s ease-in-out;
}

.skills__bar::after {
    animation: skills-bar-fill 2s ease-in-out;
    animation-fill-mode: forwards;
}

.skills__bar--10::after{
    --skills-bar-length: 70%;
}
.skills__bar--20::after{
    --skills-bar-length: 20%;
}

.skills__bar--10::after{
    --skills-bar-length: 70%;
}

.skills__bar--30::after{
    --skills-bar-length: 30%;
}

.skills__bar--40::after{
    --skills-bar-length: 40%;
}

.skills__bar--50::after{
    --skills-bar-length: 50%;
}

.skills__bar--60::after{
    --skills-bar-length: 60%;
}


.skills__bar--70::after{
    --skills-bar-length: 70%;
}


.skills__bar--80::after{
    --skills-bar-length: 80%;
}

.skills__bar--90::after{
    --skills-bar-length: 90%;
}

@keyframes skills-bar-fill {
    to {
        transform: translateX(var(--skills-bar-length));
    }
}

.experience {
    display: flex;
    align-items: start;
    /* margin-bottom: 1em; */
    margin-top: 1em;
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.experience__image {
    max-width: 15%;
    margin-right: 1em;
}

.experience__time {
    font-size: 0.8em;
    margin-bottom: 10px; 
}

.experience__job {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.experience__description {
    font-size: 0.9em;
    margin-bottom: 10px;
}

/*-----hobbies---*/

.card__title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.hobbie-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.hobbie__title {
    font-size: 1.2em;
    margin: 10px 0;
    color: var(--primary-color);
}

.hobbie__desciption {
    font-size: 0.9em;
    margin: 10px 0;
}

/*-------mis proyectos---------*/

.card--project {
    display: grid;
    grid-column: 1 / -1;
    margin-top: 1em;
    border-radius: var(--border-radius);
}

.project__container {
    display: flex;
    align-items: start;
    margin-top: 1em;
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.project__info {
    margin-left: 2em;
}

.project__image {
    max-width: 25%;
    margin-right: 1em;
}

.project__tag{
    font-size: 0.8rem;
    margin-right: 1.5em;
    padding: 0.3em 0.8em;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.project__subtittle {
    font-size: 1.2em;
    margin: 20px 0;
    color: var(--primary-color);
}

.project__description {
    font-size: 1em;
    margin: 10px 0;
    margin-bottom: 2em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 225px;
}

.button {
    width: 90px;
    line-height: 2;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.button--primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.button--ghost {
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.project__container {
    position: relative;
}
/*-----para que se mantenga los botones en la parte inferior del card*/

@media screen and (min-width: 760px) {
    .buttons {
        position: absolute;
        bottom: 1em;
    }
}

/*--------------------------------------------------*/

/* -----------mediaquey para mobil -----------------*/

@media screen and (max-width: 760px) {

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .card--project {
            display: grid;
            grid-column: 1 / -1;
            margin-top: 1em;
            border-radius: var(--border-radius);
    }

    .project__container {
        display: flex;
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: center; /* Centra los elementos verticalmente */
        margin-top: 1em;
        padding: 1em;
        border: 2px solid var(--primary-color);
        border-radius: var(--border-radius);
    }

    .project__image {
        max-width: 90%; /* Aumenta el tamaño de la imagen en móviles */
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 1em; /* Agrega margen inferior para separar la imagen del texto */
    }

    .card--profile{
        width: 100%;
    }

    .project__tag{
        margin-right: 1em;
        font-size: 0.7rem;
    }

    .project__content {
        text-align: center; /* Centra el texto */
    }
}

/*------------------------------------------------*/


    